body{
    background-color: black;
    color: white;

}

a{
    color: palevioletred;
}
p{
    padding: 3px;
}

#navigation{
    border: 5px solid white;

}


.nav-functions{

    text-align: center;
    margin: 3px;
    border: 1px solid palevioletred;
    display: grid;
    grid-template-columns: auto auto;
    
}

h3, h4{
    background-color: lightseagreen;
    color: black;
}

.nav-functions :hover{
background-color: white;
color: lightseagreen;

}

#title {
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;;
    margin-top: 15px;
    width: 80%;
    
}