body{
    background-color: black;
    color: white;

}

a{
    color: palevioletred;
}
p{
    padding: 3px;
}

#navigation{
    border: 5px solid white;

}


.nav-functions{

    text-align: center;
    margin: 3px;
    border: 1px solid palevioletred;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

h3, h4{
    background-color: lightseagreen;
    color: black;
}

.nav-functions :hover{
background-color: white;
color: lightseagreen;

}


#first-title {
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;;
    margin-top: 15px;
    width: 80%;
    
}

.intro-content{
    text-align: center;

}
.aboutme-container{
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border: 1px solid white;
    text-align: center;
}
.first-article{

    padding: 5px;
    border: .5px solid white;
}

#ego-columns{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    box-sizing: border-box;
}

.egoname-columns{
    border: 1px dashed lightseagreen;

}