body{
    background-color: black;
    
    color: white;

}

a{
    color: palevioletred;
}
p{
    padding: 3px;
}

#navigation{
    border: 5px solid white;

}


.nav-functions{

    text-align: center;
    margin: 3px;
    border: 1px solid palevioletred;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}



h3, h4{
    background-color: lightseagreen;
    color: black;
}


.nav-functions :hover{
background-color: white;
color: lightseagreen;

}



#ai-image{
    text-align: center;
    opacity: 85%;
}

#first-title {
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;;
    margin-top: 15px;
    width: 80%;
    
}

.intro-content{
    text-align: center;

}
.aboutme-container{
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    border: 1px solid white;
    text-align: center;
}

.first-article{
    padding: 15px;
}

#ego-container{
    margin-top: 10px;
    background-color: palevioletred;


}
#ego-columns{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 30px;
    gap: 5px;
    
}

.egoname-columns{
    border: 1px dotted white;
    margin: 0 auto;
}

#blog-boxing{
    display: grid;
    grid-template-columns: auto auto auto;
    
}

#blog-container{
    border: 1px dashed white;
    padding: 10px;
    background-color: gray;
    border-radius: 5px;
    margin: 15px;
    text-align: center;
    

}

.text-image{
    background-color: white;
}
