
body, html{

    background-color: black;
    background-image:url(../images/smokes1.gif);
    background-size:cover;
    background-attachment: fixed;
    color: white;
}



a{
    color: #d98bb6;
}

h5{
    color: rgba(242, 35, 166, 0.734);
    background-color: white;
}
#navigation{
    border: 5px solid white;

}

.nav-functions{
    padding: 5px;
    text-align: center;
    margin: 3px;
    border: 1px solid #d98bb6;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color:white;
}
.nav-functions :hover
{
    background-color:  palegoldenrod;
    color: #8149a6;
    
}
#first-title {
    background-color: black;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;;
    margin-top: 15px;
    width: 80%;
    
}

.intro-content{
    text-align: center;
    background-color: black;

}

#main-container{
    border: 5px double white;
    background-color: gray;
    margin: 4px auto;
    width: 95%;
    display:grid;
    grid-template-columns: 70% auto;
    opacity: 95%;
    padding: 10px;
    text-align: center;

}

#sidebar-content{
    grid-column-start: 2;
    
    
}

#article-content{
    border: 1px solid black;
    height: 370px;
    width: 95%;
    padding: 5px;
    background-color: rgba(242, 35, 166, 0.734);
}

.article{
    margin: 5px;
    border: 1px solid black;
    background-color: white;
    height: 50px;
    color: #8149A6;
}


.first-article{
    background-color: darkgray;
    border: 1px solid black;
    margin: 20px;
}

.blog-container{
    border: 3px solid darkgray;
    border-radius: 10px;
    text-align: center;
    background-color: palegoldenrod;
    margin-top: 10px;
    height: 60%;
    
}

.blog-container:hover{
    background-color: darkgray;
    height: 100%;
}

