
body, html{

    height: 100%;
}

#main-container{
    border: 1px solid black;
    background-color: yellow;
    display:grid;
    margin: 0 auto;
    grid-template-columns: auto 25%;

}

#sidebar-content{
    background-color: palevioletred;
    grid-column-start: 2;
}

#article-content{
    border: 1px solid black;

}

.article{
    border: 1px solid black;
}